<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Crear Producto Formulario WTF</title>
    </head>
    <body>
        <form method="POST" action="/products/create-product-wtf-form">
            {{formul.csrf_token}}
            {{formul.nombre.label}} {{formul.nombre(size=20)}} <br>
            {{formul.precio.label}} {{formul.precio(size=20)}} <br>
            {{formul.peso.label}} {{formul.peso(size=20)}} <br>
            {{formul.descripcion.label}} {{formul.descripcion()}} <br>
            <label for="lblImagen">Imagen (Sin implementar aún): </label>
            <img src="#" alt="imagen">
            <button name="btnImagen">Examinar..</button>
            <input type="text" name="txtImagen"><br>
            {{formul.reembolso.label}} {{formul.reembolso()}} <br>
            {{formul.categoria.label}} {{formul.categoria()}} <br>
 
            <input type="submit" value="Agregar Producto">
        </form>
    </body>
</html>